PORT=4000
# Informations de connexion à l'Alcatel OmniPCX (O2G)
O2G_BASE_URL=https://192.168.1.100
O2G_APP_NAME=my_app
O2G_APP_PASSWORD=my_password
O2G_DEVICE_ID=2001

# Si votre O2G utilise un certificat SSL auto-signé, mettez ceci à 0
NODE_TLS_REJECT_UNAUTHORIZED=0
